{%  extends 'king_admin/table_index.html' %}
{% load tags %}
{% block extra-css-resources%}
    <style type="text/css">
        .filter-select-box{
            height: 250px !important;
            width: 200px;
            border-radius: 3px;
            display: inline-block;
        }
    </style>
{% endblock %}
{% block container %}
    change table
    <form class="form-horizontal" role="form" method="post" onsubmit="return SelectAllChosenData()">{% csrf_token %}
      <span style="color: red">{{ form_obj.errors }}</span>
      {% for field in form_obj %}
      <div class="form-group">
        <label  class="col-sm-2 control-label" style="font-weight: normal">
            {% if field.field.required %}
                <b>{{ field.label }}</b>
            {% else %}
                {{ field.label }}
            {% endif %}
        </label>
        <div class="col-sm-6">
            {% if field.name in admin_class.filter_horizontal %}
                <div class="col-sm-5">
                    {% get_m2m_obj_list admin_class field form_obj as m2m_obj_list %}
                    <select id="id_{{ field.name }}_from"  multiple class="filter-select-box">
                    {% for obj in m2m_obj_list %}
                        <option ondblclick="MoveElementTo(this,'id_{{ field.name }}_to','id_{{ field.name }}_from')" value="{{ obj.id }}">{{ obj }}</option>
                    {% endfor %}
                    </select>

                </div>
                <div class="col-sm-1">
                    箭头
                </div>
                <div class="col-sm-5">
                    {% get_m2m_selected_obj_list form_obj field as selected_obj_list %}
                    <select tag="chosen_list" id="id_{{ field.name }}_to" name="{{ field.name }}" multiple class="filter-select-box">
                        {% for obj in selected_obj_list %}
                            <option value="{{ obj.id }}" ondblclick="MoveElementTo(this,'id_{{ field.name }}_from','id_{{ field.name }}_to')" >{{ obj }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% else %}
            {{ field }}
            {% endif %}
        </div>
      </div>
      {% endfor %}


      <div class="form-group">

          <div class="col-sm-2">

                <a class="btn btn-danger" href="{% url 'obj_delete' app_name table_name form_obj.instance.id %}">Delete</a>

          </div>
          <div class="col-sm-10 ">
            <button type="submit" class="btn btn-success pull-right">Save</button>
          </div>
      </div>
    </form>
    <option value=""></option>
    <script>
            function MoveElementTo(ele,target_id,new_target_id) {
                var opt_ele = "<option value='" + $(ele).val() + "' ondblclick=MoveElementTo(this,'" + new_target_id +"','"+ target_id +"')>" + $(ele).text() + "</option>";
                $("#" +target_id).append(opt_ele);
                $(ele).remove();

            }
            function SelectAllChosenData() {
                $("select[tag='chosen_list'] option").each(function () {
                    $(this).prop("selected", true);
                })
                return true;
            }
    </script>
{% endblock %}